/* == OverSub-Box Stylesheet == */

/* Development Background Styles (remove this from release css file) */
html, body {
	font-family: Helvetica;
	background-color: #000;
}


/* == Main Subtitles Box == */
.OverSub-box {
	width: 400px;
	height: 200px;
	min-width: 350px;
	min-height: 150px;
	border-radius: 10px;
	z-index: 9999;
	background-color: #123456;
}



/* == .main contains: Subtitles + Buttons (settings, close) == */
.OverSub-box .main {
	width: 100%;
	height: calc(100% - 50px);
	background-color: #234567;
	border-top-left-radius: 10px;
}

/* Container for buttons (settings, close) */
.OverSub-box .main .btn-box {
	cursor: default;
	float: right;
	background-color: #fff;
	border-bottom-left-radius: 10px;
}

/* Add a sapcer between buttons (currently disabled) */
.OverSub-box .main .btn-box .btn-close::before {
	display: none;
	content: "";
	position: absolute;
	height: 100%;
	box-shadow: 0 0 1px 1px #000;
}

/* Close and Settings button */
.OverSub-box .main .btn-box .btn-settings, .OverSub-box .main .btn-box .btn-close {
	cursor: pointer;
	padding: 7px;
	display: inline-block;
}

/* == SUBTITLES -> Default (may be overridden by user) == */
.OverSub-box .main .subtitles {
	color: #fff;
	/*background-color: #456789;*/
	padding: 10px;
}



/* == Subtitle Settings == */
.OverSub-box .cfg-subtitles {
	height: 50px;
	background-color: #345678;
	border-radius: 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
/* jQuery: add/remove | -> Toggles border-radius */
.OverSub-box .cfg-subtitles-open {
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}



/* == Box Settings (container underneath the main box) == */
.OverSub-box .cfg-box {
	width: 100%;
	/*height: 150px;*/
	height: 0;/* jQuery: open/close */
	overflow: hidden;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #56789f;
}
